html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
}

ul.contactsList {
    padding: 0;
    margin: 10px 0 0 0;
    .contactItem {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        img.contactImage {
            width:50px;
        }
        .contactLabel {
            display: block;
            width:400px;
            margin: 2px;
            height: 30px;
        }
    }
}



